node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
cookies.txt
attached_assets/*.pdf
attached_assets/*.PDF
attached_assets/*.zip
attached_assets/image_*.png
attached_assets/image_*.jpg
attached_assets/image_*.jpeg